.btn {
  padding: 10px 24px;
  cursor: pointer;
  background-color: #2ECC71;
  text-align: center;
  border-radius: 4px; 
  border: none;
  color: rgb(249, 243, 243);
  letter-spacing: 0.18em
}

.btn:hover {
  background-color: #095e2c;
}
