.spinner {
  display: flex;
  justify-content: center;
  height:50px;
  width: 50px;
}

.spinner::after {
  content: "";
  width: 50px;
  border: 5px solid #dddddd;
  border-top-color: #009579;
  border-radius: 50%;
  animation: loading 1s linear infinite
}

@keyframes loading {
  to {
    transform: rotate(1turn)
  }
}